{% extends 'base.html'%}

{% block content%}
{% load crispy_forms_tags %}
<div class="container">
 
    <form action="" method="POST" enctype="multipart/form-data">
        {%csrf_token%}
        {{form.media}}
        {{form.title|as_crispy_field}}
        {{form.image|as_crispy_field}}
        {{form.description|as_crispy_field}}
        {{form.created_by|as_crispy_field}}
        <button type ="submit">Submit</button>
        
        <button type ="reset">Reset</button>

    </form>
    <script>
        document.getElementById('div_id_created_by').style.display='none';
        document.querySelector('#id_created_by').value = "{{user}}";
    </script>
</div>
{% endblock %}