{% extends 'base.html' %}

{% block content %}
<style>
    .h1{
        color: bisque;
    }
    .description{
        text-align: justify;
        font-size: 18px;
    }
    .img{   width: 55%;
        display: table;
        height: 55%;
        box-shadow: 9px 8px 20px 0px black;        
        border-radius: 20px;
        object-fit: cover;
    }
    .img:hover{width: 60%;
        height: 60%;
        transition: 0.7s;
    }
    .row{
        text-align:start;
    }
</style>
<title>Home</title>
<div class="container-fluid">
    {% if data %}
    <div class="row gap-5">
        {% for i in data %}
        <div class="col-md-3">
            <h1 class="h1">{{i.title}}</h1><br>
            <img src="{{i.image.url}}" class="img">
            <br><a href="{% url 'rmore' i.id %}" class="btn btn-outline-success">Readmore</a><br>
            <br>
            <h4>{{i.created_by}}</h4><br>
            {{i.created_on}}<br>
            <hr>
        </div>
        {% endfor %} 
    </div>
    {% else %}
    <div class="container">
        <div class="alert alert-danger" role="alert">
            Please Create  A Blog First!
          </div>
    {%endif%}
    </div>

{% endblock %}
